*{ 
    font-family: 'Manrope';
    box-shadow: none;

    }
  
#title{
    font-size: 6vw;
    font-weight: 1000;
    background: linear-gradient(90deg, rgba(6,0,108,1) 0%, rgba(8,201,241,1) 67%, rgba(0,255,175,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0;
    padding: 0; 
    };  
    


#controls{
  display: flex;
  height:60vw;
  width: 100vw;
  

}

#manuel{
    flex-direction: column;
    display: flex;
    margin-left: 10%;
    margin-top: 80px;
    padding: 0;
}
#flux{
    flex:1;
    margin-right: 200px;
}

#commands{
  flex: 1;
}


#video{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: #4e4e4e;
  padding: 0;
  border-radius: 20px;

}


#videocontrol{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../images/waves.svg);
  background-size: cover;

  font-size: 17px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.switch-holder {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: -8px -8px 15px rgba(255,255,255,.7),
              10px 10px 10px rgba(0,0,0, .3),
              inset 8px 8px 15px rgba(255,255,255,.7),
              inset 10px 10px 10px rgba(0,0,0, .3);
  justify-content: space-between;
  align-items: center;
}

.switch-label {
  width: 150px;
}

.switch-label i {
  margin-right: 5px;
}

.switch-toggle {
  height: 40px;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: inset -8px -8px 15px rgba(255,255,255,.6),
              inset 10px 10px 10px rgba(0,0,0, .25);
  
}

.switch-toggle input[type="checkbox"] + label::before {
  position: absolute;
  content: 'OFF';
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #d1dad3;
  box-shadow: -3px -3px 5px rgba(255,255,255,.5),
              3px 3px 5px rgba(0,0,0, .25);
  transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
  left: 50%;
  content: 'ON';
  color: #fff;
  background-color: #00b33c;
  box-shadow: -3px -3px 5px rgba(255,255,255,.5),
              3px 3px 5px #00b33c;
}


